
.row
  %h1 #{@stream.title}
  .span4

    %ul#menu.nav.nav-tabs.nav-stacked.vscroll
      = partial "books/tocs", locals: { tocs: @stream.toc, level: 1 }

  .span8
    .navbar
      .navbar-inner
        %ul.nav
          %li
            %a.prev-page Previous Page
          %li
            %a.next-page Next Page
          //%li
          //  %a.start Start app
          //%li
          //  %a.current-page Get Current Page

    #widget.viewing_widget
      //%a{"data-valobox-type" => "reader", target: "_blank", href: @stream.reader_url, id: "valobox-reader"}
      %iframe{src: @stream.reader_url, class: "valobox", id: "valobox-reader", "data-valobox-type" => "reader", style: "width: 100%; height: 100%;"}

    %br
    = @stream.about

    %script{src: ::Stream.embed_script, type: "text/javascript"} 