
.row
  %h1 #{@stream.title}
  .span4

    %ul#menu.nav.nav-tabs.nav-stacked.vscroll
      = partial "books/tocs", locals: { tocs: @stream.toc, level: 1 }

  .span8
    .navbar
      .navbar-inner
        %ul.nav
          %li
            %a.prev-page Previous Page
          %li
            %a.next-page Next Page

    #widget.viewing_widget
      %a{"data-valobox-type" => "reader", target: "_blank", href: @stream.reader_url, id: "valobox-reader"}

    = @stream.reader_url
    %br
    = @stream.about

    %script{src: @stream.embed_script, type: "text/javascript"}